@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 94%);
  gap: 70px;
  padding-top: 80px;
}
.main-container{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 500px;
  padding: 40px;
  position: relative;
  border-radius: 15px;
  border-bottom-right-radius: 30%;
}
.inputs-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  width: 65%;
}
input{
  width: 110px;
  height: 50px;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 2px;
  font-weight: 700;
  font-size: 22px;
  color: hsl(0, 0%, 8%);
  outline-color: hsl(259, 60%, 65%);
}
input::placeholder{
  font-weight: 700;
  font-size: 22px;
}
label{
  font-weight: 800;
  color: hsl(0, 1%, 44%);
  font-size: 12px;
  margin-bottom: 5px;
}
img{
  position: absolute;
  width: 80px;
  background-color: hsl(259, 100%, 65%);
  padding: 15px;
  border-radius: 50%;
  right: 40px;
  top: 110px;
  cursor: pointer;
}
.data-container{
  margin-top: 35px;
  border-top: 2px solid hsl(0, 0%, 86%);
  padding-top: 55px;
}
ul{
  list-style: none;
  display: flex;
  flex-direction: column;
}
li{
  display: flex;
  font-size: 70px;
  font-weight: 800;
  font-style: italic;
  line-height: 75px;
  color: hsl(0, 0%, 8%);
}
span{
  color: hsl(259, 100%, 65%);
  margin-right: 10px;
}
.input-error{
  color: hsl(0, 100%, 67%);
  border: 1px solid hsl(0, 100%, 67%);
  outline-color: hsl(0, 100%, 67%);
}
.input-error::placeholder{
  color: hsl(0, 100%, 67%);  
}
.label-error{
  color: hsl(0, 100%, 67%);
}

@media(max-width: 590px){
  .main-container{
    width: 340px;
    height: 440px;
    border-bottom-right-radius: 25%;
  }
  input{
    width: 75px;
    font-size: 20px;
    color: hsl(0, 0%, 8%);
    outline-color: hsl(259, 60%, 65%);
  }
  .inputs-section{
    margin-bottom: 10px;
  }
  input::placeholder{
    font-size: 20px;
  }
  img{
    position: absolute;
    width: 60px;
    background-color: hsl(259, 100%, 65%);
    left: calc(50% - 30px);
    top: 130px;
  }
  .data-container{
    margin-top: 35px;
    border-top: 2px solid hsl(0, 0%, 86%);
    padding-top: 20px;
  }
  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  li{
    display: flex;
    font-size: 47px;
    font-weight: 800;
    font-style: italic;
    line-height: 75px;
    color: hsl(0, 0%, 8%);
  }
}